<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1><span th:text="${user.getUsername()}"/>, welcome spring boot security page!</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
        <th>Age</th>
        <th>Email</th>
    </tr>

    <tr>
        <td th:text="${user.getUser_id()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
    </tr>


</table>
<div th:insert="footer :: logout"></div>
</body>
</html>